html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
body {
  margin-left: 200px;
  background: linear-gradient(230deg, rgb(4, 61, 118), rgb(0, 23, 30));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}


.flip-card {
  text-align: center;
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
 
  
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 120%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   margin-right: 60px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 120%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgb(12, 12, 12);
  color: black;
     box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #137dfe,
            0 0 0.8rem #1f13fe,
            0 0 2.8rem #13b4fe,
            inset 0 0 1.3rem #000000; 
}

.flip-card-back {
  background-color: #38538db6;
  color: white;
  transform: rotateY(180deg); 
    box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #a413fe,
            0 0 0.8rem #bf13fe,
            0 0 2.8rem #8c13fe,
            inset 0 0 1.3rem #000000; 
}
header{
  font-family: 'Comfortaa', cursive;;
  color: rgb(255, 255, 255);
}
p{
  font-family: 'Comfortaa', cursive;;

}
footer{
  font-family: 'Comfortaa', cursive;;
  color: aliceblue;
  text-shadow:
  -2px -2px 0 #000000, 
  2px -2px 0 #000, 
  -2px 2px 0 #000, 
  2px 2px 0 #000;
}
h6{
  font-family: 'Comfortaa', cursive;
  text-align: center;
  font-weight: bold;
  text-shadow:
        -2px -2px 0 #033a44, 
        2px -2px 0 #000, 
        -2px 2px 0 #000, 
        2px 2px 0 #000;
}
button{
  margin-top:30px ;
  background-color: turquoise;
}
h1{
  text-align: center;
  margin: auto;
  font-family: 'Comfortaa', cursive;
  background-color: #337a9eb6;
  border: 5px;
  border-radius: 20px;
  width: 400px;
  margin-bottom: 30px;
  color: aliceblue;
  border: dotted rgb(12, 108, 203) 3px;
  text-shadow:
  -2px -2px 0 #033a44, 
  2px -2px 0 #000, 
  -2px 2px 0 #000, 
  2px 2px 0 #000;
  
}
div{
  
  border-radius: 10px;
  margin: auto;
  float: left;
  margin-bottom:  200px;
  margin-right: 40px;
  

}
.nvm{
  text-align: center;
}
h3{
  font-family: 'Comfortaa', cursive;
  text-shadow:
        -2px -2px 0 #6dc4d3, 
        2px -2px 0 #000, 
        -2px 2px 0 #000, 
        2px 2px 0 #000;
}


p{
  color: aqua;
}
h2{
  color:aquamarine ;
}

img{
  height: 500px;
  width: 200px;
  border-radius: 30px;
}
.popup{
  background-color:#033a44;
  width: 300px;
}
a{
  color: whitesmoke;
}
.link{
  background-color:#7f0794;
  border-radius: 5px;
  justify-content: center;
}

 body::before,
body::after {
    content: "";
    position: fixed;
    top: 0;
    width: 100px; 
    height: 100vh; 
    background-color: #000000; 
    z-index: 999;
    
     box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #13acfe,
            0 0 0.8rem #139cfe,
            0 0 2.8rem #13cbfe,
            inset 0 0 1.3rem #000000; 
}
body::before {
    left: 0;
}
body::after {
    right: 0; 
}
.side-bar {
    position: fixed;
    top: 0;
    width: 50px;
    height: 100vh;
    background-color: #000000; 
    z-index: 999;
}
.left {
    left: 0;
}
.right {
    right: 0;
}

#alc{
  color: rgb(255, 255, 255);
  text-shadow:
  -2px -2px 0 #14145d, 
  2px -2px 0 #6969dc, 
  -2px 2px 0 #14145d, 
  2px 2px 0 #14145d;
  background-color: #000000;
  width: 400px;
  text-align: center;
  border-radius: 10px;
  border: double rgb(76, 168, 255) 5px;
}
#tizenketto{
  background-color: #000000; 
  margin: auto;
  margin: 150px;
  padding: 20px;
  width: 700px;
  margin-right: 60px;
  border: double black 7px;
     box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #13acfe,
            0 0 0.8rem #139cfe,
            0 0 2.8rem #13cbfe,
            inset 0 0 1.3rem #000000; 


  
}
#tizenegy{
  background-color: #000000; 
  margin: auto;
  margin: 150px;
  padding: 20px;
  width: 700px;
  margin-right: 60px;
  border: double black 7px;
     box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #13acfe,
            0 0 0.8rem #139cfe,
            0 0 2.8rem #13cbfe,
            inset 0 0 1.3rem #000000; 

  
}
#tiz{
  background-color: #000000; 
  margin: auto;
  margin: 150px;
  padding: 20px;
  width: 700px;
  margin-right: 60px;
  border: double black 7px;
     box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #13acfe,
            0 0 0.8rem #139cfe,
            0 0 2.8rem #13cbfe,
            inset 0 0 1.3rem #000000; 

  
}
#kilenc{
  background-color: #000000; 
  margin: auto;
  margin: 150px;
  padding: 20px;
  width: 700px;
  margin-right: 60px;
  border: double black 7px;
     box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #13acfe,
            0 0 0.8rem #139cfe,
            0 0 2.8rem #13cbfe,
            inset 0 0 1.3rem #000000; 

  
}
#oneletrajz{
  text-align: center;
    
    text-shadow:
    0 0 7px #29c6ff,
    0 0 10px #3d33ff,
    0 0 21px #a0fffd,
    0 0 42px #3213fe,
    0 0 82px #13b4fe,
    0 0 92px #136dfe,
    0 0 102px #13fed7,
    0 0 151px #11004a;
}